<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="account" class="com.sbrf.reboot.lab16.dto.Account">
        <property name="balance" value="10.23"/>
        <property name="currency" value="USD"/>
    </bean>

    <bean class="com.sbrf.reboot.lab16.dto.AccountWithConstructor">
        <constructor-arg ref="account"/>
    </bean>

</beans>